.card {
  width: 15%;
  margin: 2% 0;
  padding: 1%;
  color: teal;
  background-color: white;
  border: 5px solid teal;
  border-radius: 10px;
}

.cancel-btn {
  width: 80%;
  color: white;
  background-color: teal;
  padding: 5px 0;
  cursor: pointer;
}